<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FilePath" value="C:\Users\Bradley\Desktop\OAE TEST;C:\Users\Bradley\Desktop\OAE TEST 2"/>
    <add key="DoSubdirs" value="true"/>
  </appSettings>
</configuration>